# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]

# -------------------------
# Virtual Environments
# -------------------------
.venv/
venv/
env/

# -------------------------
# Runtime / ML Data
# -------------------------
data/
dataset/
recordings/
training/
recognition/
*.wav
*.mp3
*.flac

# -------------------------
# Model artifacts (generated)
# -------------------------
*.h5
*.pb
*.onnx
*.tflite
.cache/

# -------------------------
# Streamlit
# -------------------------
.streamlit/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS / IDE
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

